<p>
  drop-down-list works!
</p>
<div *ngFor="let item of list">
  {{item}}
</div>

<!--why use a * before ngFor-->
<!--http://stackoverflow.com/questions/35498498/what-is-the-meaning-of-in-ngfor-in-angular2-->
<ul *ngFor="let item of list">
  <li>{{item}}</li>
</ul>

<select #trySelect (change)="trigger(trySelect.value)" (mouseenter)="hover()" (mouseleave)="leave()">
  <option *ngFor="let item of list">{{item}}</option>
</select>

<a [href]="url">{{urlText}}</a>

<input [(ngModel)]="username">

<p>Hello {{username}}!</p>
